
<head>

    {% block stylesheets %}
        <link href="{{ asset('tablas.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
	
	{% block javascripts %}
        <script src="{{ asset('funciones.js') }}" type="text/javascript"></script>
    {% endblock %}
		<title>Reservar pista</title>
		<meta charset = "UTF-8">

	</head>	
{% include 'cabecera.html.twig' %}
{% if 'ROLE_BLOQUEADO' in app.user.roles %}
Contacta con el administrador
{% else %}
<form action={{path('reservarconfecha')}} method="POST">
  <label>
    Selecciona fecha de reserva:
    <input type="date" name="fechareserva" min="{{fechactual}}" required/>
  </label>

  <p><button class="boton1">Ver pistas disponibles</button></p>
</form>

{% endif %}
	</body>
</html>